# Dependencies
/vendor/

# Docker
docker-compose.override.yml

# IDE
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing
/tests/var/
/coverage/
/.phpunit.cache
/.phpunit.result.cache

# Build
/build/

# Composer
composer.lock
composer.phar

# PHP CS Fixer
/.php-cs-fixer.cache

# PHPStan
/phpstan.neon
